@use '../variables' as *

.content
  margin-top: 4px
  display: flex
  justify-content: space-around
  border: 1px solid $gray-150

.content_link
  display: flex
  border: 1px solid $gray-150
  width: 100%
  justify-content: center

.content_item
  padding: 12px 0
  text-transform: uppercase
  font-size: 16px

.content_item_active
  color: $primary-color
  font-weight: 700

.content_item_default
  color: $gray-300
